@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,400,700);

/* DOM element styles */
html {
  font-family: 'Source Code Pro', 'serif';
}

body {
  background: none 0 0 transparent;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

a {
  color: #4682B4;
  text-decoration: none;
}

a:hover {
  font-style: italic;
}

a:visited {
  color: #808080;
}

p img {
  width: 96%;
  margin: 1em 2%;
}

/* General classes */
.title {
  color: #4682B4;
  font-weight: bold;
  text-align: center;
}

.subtitle {
  color: #2F4F4F;
  font-weight: bold;
  text-align: center;
}

/* layout related classes */
.l-container {
  margin: auto;
  width: 90vw;
  position: relative;
}

.l-title {
  margin: 5vh 0 0 0;
}

.l-main {

}

.l-left-main {
  float: left;
  width: 75%;
  padding: 0 1em 0 0;
}

.l-footer {
  text-align: center;
  margin: auto;
}

.l-right-side {
  float: right;
  width: 23%;
  margin: auto;
  text-align: center
}

.post-list{
}

.post-list-item-title {
  font-size: 1.2em;
  margin: 1em 0 0.2em 0;
}

.post-list-item-desc {
  margin: 0 0 0 0.5em;
  text-align: justify;
  font-size: 1em;
}

.timestamp {
  float: right;
}

.content {
  margin: 5vh 0 0 0;
  font-size: 1.2em;
  text-align: justify;
}

/*  classes names used by shortcodes */
.highlight {
  margin: 2em 1em;
  font-size: 1.1em;
}
