{{ partial "header.html" . }}
<div class="l-container">
  <h1 class="l-title title">{{ .Title }}</h1>
  <h2 class="subtitle">{{ .Site.Params.subtitle }}</h2>
  <div class="l-left-main">
    <dl class="post-list">
      {{ range first 10 .Data.Pages }}
      <dt class="post-list-item-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <dd class="post-list-item-desc">{{ .Description }}</dd>
      </dt>
      {{ end }}
    </dl>
  </div>
  {{ partial "right-side.html" . }}
</div>
{{ partial "footer.html" . }}
